.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #232323;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 3000ms ease;
  text-transform: capitalize;

  &:hover {
    @apply text-orange-600 bg-[#fee7f2];
    transition: background-color 300ms ease;
  }

  .pokemon-card {
    width: 100%;
    height: 14rem;
    z-index: 1;
  }

  .pokemon-image {
    position: absolute;
    top: -40px;
    width: 12rem;
    height: 12rem;
    object-fit: contain;
    z-index: 2;
    transition: transform 0.3s ease;
  }

  .pokemon-type {
    position: absolute;
    z-index: 4;
  }
}
