@if (pokemon) {
<div
  class="container"
  [routerLink]="['/pokemon', pokemon.name]"
  routerDirection="forward"
>
  <img
    class="pokemon-image"
    loading="lazy"
    [src]="pokemon.image"
    alt="{{ pokemon.name }}"
  />
  <div class="pokemon-card flex flex-row justify-between items-end p-2">
    <div class="flex flex-col gap-0">
      <div class="text-sm font-normal">#{{ pokemon.id | zeroPad }}</div>
      <div class="text-lg font-semibold">
        {{ pokemon.name }}
      </div>
    </div>
    <div class="flex flex-col gap-1 pb-2">
      @for (type of pokemon.types; track type) {
      <span
        class="px-2 py-0 text-xs font-medium rounded-lg"
        [ngClass]="[
          getTypeClasses(type).bgColor,
          getTypeClasses(type).textColor
        ]"
      >
        {{ type }}
      </span>
      }
    </div>
  </div>
</div>
<div class="absolute z-10 right-2 top-2">
  <ion-button fill="clear" (click)="toggleFavorite.emit(pokemon)">
    @if(favorites.includes(pokemon.name)){
    <ion-icon
      slot="icon-only"
      size="large"
      class="text-orange-600"
      name="heart"
    ></ion-icon>
    }@else{
    <ion-icon
      slot="icon-only"
      size="large"
      class="text-gray-100"
      name="heart-outline"
    ></ion-icon>
    }
  </ion-button>
</div>
}
